<!-- showall.html -->
{% extends "besttimeapp/base.html" %}

{% block title %}トップページ{% endblock title %}

{% block content %}
    <h1 class="mt-4 border-bottom">Best time APP</h1>
    <h1 class="mt-4 border-bottom">記録の一覧</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">名前(ふりがな)</th>
          <th scope="col">距離</th>
          <th scope="col">種目</th>
          <th scope="col">記録日</th>
          <th scope="col">備考</th>
        </tr>
      </thead>
    </table>
{% endblock content %}